/* Your CSS code here. */
header
{
	background: #e5e5e5; 
	padding: 20px;
}

nav
{
	background: black; 
	padding: 10px;
	color: white;
}

nav a{
	color: white;
}

main
{
	background: #f5f5f5; 
	padding: 20px;
}

aside
{
	background: lightgray; 
	padding: 20px;
}

footer
{
	background: #e5e5e5; 
	padding: 20px;
}